[core]
	excludesFile = ~/.gitignore_global
[commit]
	gpgsign = true
[gpg]
	program = gpg2
	signingkey = CFF93564D1D07E9EB288777B01DE8FF0477931D3

[includeIf "gitdir:/mnt/c/code/kiri/"]
	path = ~/.gitconfig-kiri
[user]
	email = kiri
	name = kiri
	signingkey = CFF93564D1D07E9EB288777B01DE8FF0477931D3
[pull]
	ff = false
	rebase = true
[init]
	defaultBranch = main
